<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>menuCTRL</servlet-name>
        <servlet-class>controladores.menuCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>permisosUsuario</servlet-name>
        <servlet-class>controladores.permisosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>permisoCTRL</servlet-name>
        <servlet-class>controladores.permisoCTRL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>menuCTRL</servlet-name>
        <url-pattern>/menuCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>permisosUsuario</servlet-name>
        <url-pattern>/permisosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>permisoCTRL</servlet-name>
        <url-pattern>/permisoCTRL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
